html,
body,
.wrap {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  background-color: #76ace2;
}

.wrap {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(204, 14%, 21%);
}